<div>
<%= f.label :name %>
<%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :genre_id, 'Genre' %><br>
  <%= f.collection_select(:genre_id, Genre.all, :id, :name) %>
</div>
  
<%= f.label :details %>
<%= f.text_area :details %>

<div class="field">
    <%= f.label :track_file %><br />
    <%= f.file_field :track_file %>
</div>

<div class="field">
    <%= f.label :track_image %><br />
    <%= f.file_field :track_image %>
</div>
