<div class="small-6 small-centered columns">
  <%= image_tag @track.track_image.thumb.url %>
  <h2><%= @track.name %></h2>
  
  <div>
    <h3>Added by:</h3>
    <p><%= @track.user.try :email %></p>
  </div>

  <audio controls="controls" source src="<%= @track.track_file.url %>" />    
    </audio>
  <hr>
  
  <%= form_for [@track, Comment.new] do |f| %>
  <%= render partial: 'comments/form', locals: { f: f } %>
  <%= f.submit 'Add Comment!' %>
  <% end %>

  <% @track.comments.approved.each do |comment| %>
  <%= image_tag(comment.user.user_image.thumb.url) %>
  <%= comment.comment %>
  <br>
  <p>Posted by: <%= comment.user.try :email %></p>
  <p>Date: <%= comment.user.try :created_at %>
  <hr>
  <% end %>
  <br>

  <%= link_to 'Edit', edit_track_path(@track), class: "tiny button" if can? :edit, @track %>
  <%= link_to 'Back', tracks_path %>
</div>